.header {
  height: 720px;
  margin-top: -50px;
  background-image: url(../images/brownFashionHeader.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e0e0d8;
}
